.seccion3 {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.texto5{
    font-size: 20px;
   font-family: roboto;
    color: #f595dd;
    

}

.texto6{
    font-size: 24px;
    font-family: robto;
    color: #f593cc;
   


   
}

.description2{
    text-align: center;
    font-size: 16px;
    font-family: roboto;
    color: #b1b1b1;
   text-align: justify;
    
}

.f1{
    align-items: center;
    padding: 0%;
    width: auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.f2{
    align-items: center;
    padding: 0%;
    width: auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.f3{
    align-items: center;
    padding: 0%;
    width: auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.f4{
    align-items: center;
    padding: 0%;
    width: auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.f5{
    align-items: center;
    padding: 0%;
    width: auto; 
    max-width: 50%; 
    height: auto; 
    border-radius: 15px;
    display: block; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.Boton3{
    margin: auto;
    width: 200px;
    border: 1px solid #e991b5;
    border-radius: 100px;
    padding: 20px;
    margin-top: 30px;
    height: 50px;

    font-size: 16px;
    color: #e27da4;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}